table {
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 0 auto;
}

table th, table td {
    padding: 1em;
    margin: 10px;
}

table th {
    background: #c4c4c4;
}

table tr:hover, 
table tr:focus{
    background: #e3e3e3;
}

